@model IEnumerable<_23dh112196_Mystore.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>DANH SÁCH DANH MỤC SẢN PHẨM</h2>

<p>
    @Html.ActionLink("thêm mới", "Create",null, new {@class = "btn ntn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @*Html.DisplayNameFor(model => model.CategoryName)**@
            TÊN DANH MỤC
<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("cập nhật", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("xóa", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
